POSTGRES_USER=crystal_pharm
POSTGRES_PASSWORD=dev
POSTGRES_DB=crystal_pharm

CONNECTIONSTRINGS__DEFAULT=Host=localhost;Port=5445;Database=crystal_pharm;Username=crystal_pharm;Password=dev
JWT__SECRET=change-me-min-32-characters-long
JWT__ISSUER=crystal-pharm-api
JWT__AUDIENCE=crystal-pharm-clients
JWT__EXPIRATIONMINUTES=60
